/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
    --hover: #f0e9e9;
    --background: #ffffff;
    --card-color: #ffffff;
    --thread-background: #f5f5f5;
    --primary-text-color: #000000;
    --secondary-text-color: #999999;
    --shadow-card: 0 10.5px 21px rgba(0, 0, 0, .08);
    --border-card: #00000026;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    color: var(--primary-text-color);
    font-size: 15px;
    overflow-y: visible;
    line-height: 21px;
    background-color: var(--background);

    -webkit-font-smoothing: antialiased;
}

.dark body {
    --background: #101010;
    --card-color: #181818;
    --thread-background: #1e1e1e;
    --primary-text-color: #f3f5f7;
    --secondary-text-color: #777777;
    --border-card: #f3f5f726;
    --hover: #0a0a0a;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-text-color);
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button:active,
.logo:active {
    transform: scale(.95);
}

svg {
    color: var(--primary-text-color);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 767px) {
    .screen {
        max-width: 520px;
        box-sizing: border-box;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@layer utilities {
    .restart-positions {
        color: var(--secondary-text-color);
        display: inline-flex;
    }

    .content-trhead {
        padding-left: 8px;
        border-radius: 30px;
        cursor: pointer;
        touch-action: manipulation;
        margin-top: 0;
        border-left: 0;
        border-top: 0;
        outline: none;
        padding-top: 6px;
        padding-right: 6px;
        display: inline-block;
        font-size: .6875rem;
        margin-left: 0;
        line-height: 13px;
        text-align: inherit;
        color: var(--secondary-text-color);
        padding-bottom: 6px;
        margin-bottom: 0;
        background-color: var(--thread-background);
    }
    
    .name-title {
        display: block;
        max-width: 100%;
        position: relative;
        font-size: 24px;
        min-width: 0;
        overflow-x: visible;
        overflow-y: visible;
        word-break: break-word;
        font-weight: 700;
        white-space: pre-line;
    }
    
    .name-subtitle {
        display: block;
        max-width: 100%;
        position: relative;
        font-size: 15px;
        min-width: 0;
        overflow-x: visible;
        overflow-y: visible;
        word-break: break-word;
        font-weight: 400;
        white-space: pre-line;
    }

    .icon-container {
        width: 40px;
        height: 40px;
        padding: 8px;
        transition: background-color .2s ease;
        border-radius: 50%;
    }

    .icon-container:hover {
        background-color: var(--thread-background);
    }

    .current {
        border-bottom: var(--primary-text-color) solid 2px;
    }

    .logo:hover {
        transform: scale(1.07);
    }
}